<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.firatgurgurcodechallenge">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/appicon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".Detail.TvDetail"
            android:theme="@style/MyActivitysTheme"></activity>
        <activity
            android:name=".Detail.MovieDetail"
            android:theme="@style/MyActivitysTheme" />
        <activity
            android:name=".Splash.SplashScreen"
            android:theme="@style/MyActivitysTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:theme="@style/MyActivitysTheme" />
    </application>

</manifest>